
<div [ngSwitch]="Type">
                <div *ngSwitchCase="1">
                                <ngx-charts-bar-vertical
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="data"
                                [gradient]="gradient"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [legend]="showLegend"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="XText"
                                [yAxisLabel]="YText"
                                (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                </div>
                <div *ngSwitchCase="2">
                                <ngx-charts-bar-horizontal
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="data"
                                [gradient]="gradient"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [legend]="showLegend"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                (select)="onSelect($event)">
                              </ngx-charts-bar-horizontal>
                </div>
                <div *ngSwitchCase="3">
                                <ngx-charts-pie-chart
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="data"
                                [legend]="showLegend"
                                [labels]="showLabels"
                                [animations]="animations"
                                [activeEntries]="activeEntries"
                                (select)="onSelect($event)">
                                </ngx-charts-pie-chart>
                </div>
                
                <div *ngSwitchDefault>
                                <ngx-charts-bar-vertical
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="data"
                                [gradient]="gradient"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [legend]="showLegend"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                </div>
                
</div>