<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<!--<app-bar-chart1></app-bar-chart1>-->
<!--<app-bar-horizon></app-bar-horizon>-->
<!-- <app-bar-horizon></app-bar-horizon> -->
<!--<app-group-bar-chart></app-group-bar-chart>-->
<!-- <app-group-bar-chart></app-group-bar-chart> -->
<!-- <app-adv-pie ></app-adv-pie> -->
<!-- <app-pie-chart [data]="data"></app-pie-chart> -->
<app-all-chart 
[data]="data" 
[view]=[800,500] 
[Type]="1" 
[colorScheme] = 'fire' 
[XText]= 'XText'
[YText]= 'YText'
(LinkData)="result($event)"
></app-all-chart>
</div>


